@model OrderProcessWeb.ViewModels.UserViewModel

@{
    ViewBag.Title = "My profile";
}

<h2>Home</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Login:</dt>
        <dd>@Model.Login</dd>
        <dt>Name:</dt>
        <dd>@Model.Name</dd>
        <dt>Surname:</dt>
        <dd>@Model.Surname</dd>
        <dt>Role:</dt>
        <dd id="role"></dd>
    </dl>
</div>

<script>
    $.ajax(
        {
            url: '/Home/GetRole',
            type: 'POST',
            success: function (data) {
                $("#role").html(data.StringContent);
            },
            error: function () {
                alert("error");
            },
            data: JSON.stringify({"roleId": @Model.RoleId}),
            contentType: "application/json; charset=utf-8",
            dataType: "json"

        });
</script>