@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A system for making orders</h1>
    <p class="lead">Just Log in your account and make requests for merchandises. Don't have an account? Register!</p>
</div>

<div class="row">
    <img src="/Images/request.jpg" class="img-responsive" alt="requests" style="margin-left: auto; margin-right: auto">
</div>